.smacktalk {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: smacktalk-appear 0.25s ease-in-out;
  -moz-animation: smacktalk-appear 0.25s ease-in-out;
  animation: smacktalk-appear 0.25s ease-in-out;
}
.smacktalk .Bd {
  max-height: 270px;
}
.smacktalk .Bd a, .smacktalk .Bd a:hover {
  color: #324FE1;
}
.smacktalk .smacktalk-open {
  display: none;
}
.smacktalk.closed {
  -webkit-transform: translateY(100%) translateY(-32px);
  -moz-transform: translateY(100%) translateY(-32px);
  transform: translateY(100%) translateY(-32px);
}
.smacktalk.closed .smacktalk-close {
  display: none;
}
.smacktalk.closed .smacktalk-open {
  display: inline;
}

@-webkit-keyframes smacktalk-appear {
  from {
    -webkit-transform: translateY(100%);
  }
}
@-moz-keyframes smacktalk-appear {
  from {
    -moz-transform: translateY(100%);
  }
}
@keyframes smacktalk-appear {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
