################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BMGC_Fantasy_Stats/BMGC_Fantasy_Parser/Migrations
